
<h1 class="mb-3 fw-bold"><%= item.name %></h1>
<% if item.category.present? %>
  <h5 class="mb-3  fw-bold">カテゴリ：<%= item.category.name %></h5>
<% else %>
  <h5 class="mb-3 fw-bold">カテゴリ：未分類</h5>
<% end %>
<p class="text-muted fs-5 mb-2">生産者：<strong><%= item.farmer.last_name %>さん</strong></p>
<p class="fs-5 mb-3"><%= item.introduction %></p>
<p class="h4 text-right mb-3 mr-5">￥<%= number_with_delimiter(item.price) %></p>
<p class="fs-5 text-danger mb-3 ">
  ❤️ <%= item.favorites.count %> 💬<%= item.comments.count %>
</p>

<a>
タグ：<% item.tags.each do |tag| %>
  <div class="badge badge-light border text-decoration-none">
    #<%= tag.tag_name %>
  </div>
<% end %>
</a><br>
<div class="mt-4">
  <%= link_to "商品情報を編集", edit_admin_farmer_item_path(farmer, item), class: "btn btn-outline-primary mt-2" %>
  <%= link_to "商品を削除", farmer_item_path(item), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger mt-2" %>
  <% if item.is_active %>
    <%= link_to "商品情報を非公開にする", admin_farmer_item_path(farmer, item), method: :patch, data: { confirm: "本当にこの商品を非公開にしますか？" }, class: "btn btn-outline-dark mt-2" %>
  <% else %>
    <%= link_to "商品情報を公開する", admin_farmer_item_path(farmer, item), method: :patch, data: { confirm: "本当にこの商品を公開しますか？" }, class: "btn btn-outline-success mt-2" %>
  <% end %>
  <%= link_to "投稿商品一覧へ", admin_farmer_items_path(@farmer), class: "btn btn-outline-success mt-2" %>
</div>
