<div class="container my-5">
  <div class="row mb-5">
    <div class="col">
    <!-- 新着商品一覧 -->
      <div>
        <h4>🆕 新着商品（最新10件）</h4>
        <% week = ["日", "月", "火", "水", "木", "金", "土"] %>
        <ul class="list-group">
          <% @recent_items.each do |item| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <%= image_tag item.get_image, class: "rounded mr-3", style: "width: 40px; height: 40px; object-fit: cover;" %>
                <strong class="mr-5"><%= item.name %></strong>
                <small class="text-muted mr-5">投稿者：<%= item.farmer.last_name %>さん</small>
                <small class="text-muted "><%= item.created_at.strftime("%Y/%m/%d") %>（<%= week[item.created_at.wday] %>）</small>
              </div>
              <%= link_to "詳細", admin_farmer_item_path(item.farmer, item), class: "btn btn-outline-primary btn-sm" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>