<div class="card h-100 shadow-sm text-center">
  <%= link_to farmer_item_path(item.id) do %>
    <%= image_tag item.get_image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
  <% end %>

  <div class="card-body">
    <div class="mb-2">
      <div>
        <h5 class="text-center mb-1" style="font-size: 1.4rem; font-weight: bold;"><%= item.name %></h5>
      </div>
      <div class="text-right">
        <p class="mb-0 text-muted" style="font-size: 1.2rem;">¥<%= number_with_delimiter(item.price) %></p>
      </div>
    </div>

    <div class="mb-2 small text-muted d-flex justify-content-between align-items-center">
      <div class="d-flex ">
          ❤️ <%= item.favorites.count %>
          💬 <%= item.comments.count %>
      </div>
      <div>
        <%= link_to farmer_item_path(item.id), class: "btn btn-outline-primary btn-sm" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    </div>

    <div class="mb-2">
      <% item.tags.each do |tag| %>
          <div class="badge badge-light border text-decoration-none" >
            #<%= tag.tag_name %>
          </div>
      <% end %>
    </div>
    <div class="mt-auto">
      <% if item.public? %>
        <p class="text-success small">● 公開中</p>
      <% else %>
        <p class="text-secondary small">● 非公開</p>
      <% end %>
    </div>
  </div>
</div>
