<div class="card h-100 text-center">
  <%= link_to farmer_item_path(item.id) do %>
    <%= image_tag item.get_image, size: "300x300", class: "card-img-top" %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= item.name %></h5>
    <p class="card-text">¥<%= number_with_delimiter(item.price) %></p>

    <p class="mb-2">
      ❤️ <%= item.favorites.count %>
      💬 <%= item.comments.count %><br>
      <% item.tags.each do |tag| %>
        🔖<%= tag.tag_name %>
      <% end %>
    </p>

    <%= link_to "詳細を見る", farmer_item_path(item.id), class: "btn btn-outline-primary btn-sm w-100" %>
  </div>
</div>