<h1 class="mb-3 fw-bold"><%= item.name %></h1>
<% if item.category.present? %>
  <h5 class="mb-3  fw-bold">カテゴリ：<%= item.category.name %></h5>
<% else %>
  <h5 class="mb-3 fw-bold">カテゴリ：未分類</h5>
<% end %>
<div class="d-flex align-items-center mb-3">
  <span class="small">
    生産者：<%= link_to farmer_path(item.farmer) do %>
            <%= item.farmer.last_name %>
          <% end %>さん
  </span>
  <% if customer_signed_in? %>
    <% unless current_customer.following?(item.farmer) %>
      <%= link_to "フォローする", farmer_follow_path(item.farmer.id), method: :post, class: "btn btn-outline-success ml-3" %>
    <% else %>
      <%= link_to "フォロー解除", farmer_follow_path(item.farmer.id,), method: :delete, class: "btn btn-outline-danger ml-3" %>
    <% end %>
  <% end %>
</div>
<p class="fs-5 mb-3"><%= item.introduction %></p>
<p class="h4 text-right mb-3 mr-5">￥<%= number_with_delimiter(item.price) %></p>
<p class="fs-5 text-danger mb-3 ml-3">
  <% if customer_signed_in? %>
    <% if current_customer.favorited?(@item) %>
      <% favorite = current_customer.favorite_for(item) %>
      <%= link_to "❤️ #{item.favorites.count}", favorite_path(@item.id), method: :delete %>
      <i class="fa-solid fa-comment"></i><%= item.comments.count %>
    <% else %>
      <%= link_to "♡ #{item.favorites.count}", favorites_path(item_id: item.id), method: :post %>
      <i class="fa-solid fa-comment"></i><%= @item.comments.count %>
    <% end %>
  <% else %>
    ❤️<%= item.favorites.count %>
    <i class="fa-solid fa-comment"></i><%= @item.comments.count %>
  <% end %>
</p>
<p>
  タグ：<% item.tags.each do |tag| %>
    <%= link_to items_path(tag_ids: [tag.id]), class: "badge badge-light border text-decoration-none" do %>
      #<%= tag.tag_name %>
    <% end %>
  <% end %>
</p><br>
<% if customer_signed_in? %>
  <% if current_customer.reserved_item?(item) %>
    <%= link_to "DMする",dm_room_path(reservation.dm_room.id), class: "btn btn-outline-primary" %><br>
  <% else %>
    <%= form_with model: reservation, url: item_reservations_path(item), method: :post, local: true do |f| %>
      <div class="d-flex align-items-center mb-3">
        <%= f.label :reserved_date, "予約可能日を選択してください", class: "form-label" %>
        <%= f.select :reserved_date, 
               item.available_slots.select { |slot| slot.available_date >= Date.current } 
               .map { |date| [date.available_date.strftime('%Y/%m/%d'), date.available_date] },
              { prompt: "選択してください" },
              class: "form-select" %>
        <%= f.submit "予約する", class: "btn btn-outline-dark ml-3 ml-5" %>
      </div>
    <% end %>
  <% end %>
<% end %>



