<div class="card h-100 shadow-sm text-center">
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
  <% end %>

  <div class="card-body">
    <div class="mb-2">
      <div>
        <h5 class="text-center mb-1" style="font-size: 1.4rem; font-weight: bold;"><%= item.name %></h5>
      </div>
      <div class="text-right">
        <p class="mb-0 text-muted" style="font-size: 1.2rem;">¥<%= number_with_delimiter(item.price) %></p>
      </div>
    </div>

    <div class="mb-2 small text-muted d-flex justify-content-between align-items-center">
      <div class="d-flex ">
        <% if customer_signed_in? %>
          <div id="favorite_btn_<%= item.id %>">
            <%= render "share/favorite", item: item %>
          </div>
        <% else %>
          <div class="text-danger">
            ♥ <%= item.favorites.count %>
          </div>
        <% end %>
        💬 <%= item.comments.count %>
      </div>
      <div>
        <%= link_to  item_path(item.id), class: "btn btn-outline-primary btn-sm" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    </div>

    <div class="mb-2">
    <% item.tags.each do |tag| %>
      <% unless farmer_signed_in? %>
        <%= link_to items_path(tag_ids: [tag.id]), class: "badge badge-light border text-decoration-none" do %>
          #<%= tag.tag_name %>
        <% end %>
      <% else %>
        <span class="badge badge-light border">#<%= tag.tag_name %></span>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
