<div class="container my-4">

  <!-- 商品名 -->
  <h1 class="fw-bold mb-3"><%= item.name %></h1>

  <!-- カテゴリ -->
  <h5 class="text-secondary mb-2">カテゴリ：<%= item.category.name %></h5>

  <!-- 生産者 -->
  <div class="d-flex align-items-center mb-3">
  <span class="small">
    生産者：<%= link_to farmer_path(item.farmer) do %>
            <%= item.farmer.last_name %>
          <% end %>さん
  </span>
  <% if customer_signed_in? %>
    <% unless current_customer.following?(item.farmer) %>
      <%= link_to "フォローする", farmer_follow_path(item.farmer.id), method: :post, class: "btn btn-outline-success ml-3" %>
    <% else %>
      <%= link_to "フォロー解除", farmer_follow_path(item.farmer.id,), method: :delete, class: "btn btn-outline-danger ml-3" %>
    <% end %>
  <% end %>
</div>

  <!-- 紹介文 -->
  <p class="text-muted fs-5 mb-3" style="word-break: break-word; max-width: 600px;">
    紹介文：<%= item.introduction %>
  </p>

  <!-- 価格 -->
  <p class="h3 text-right text-primary mb-3">
    ￥<%= number_with_delimiter(item.price) %>
  </p>

  <!-- お気に入り・コメント -->
  <p class="fs-5 text-danger mb-3">
    <% if customer_signed_in? %>
      <div class="d-flex">
        <div id="favorite_btn_<%= item.id %>">
          <%= render "share/favorite", item: item %>
        </div>
        　💬 <%= item.comments.count %>
      </div>
    <% else %>
      <div class="text-danger">
        ♥ <%= item.favorites.count %>
      </div>
    <% end %>
  </p>

  <!-- タグ -->
  <p>タグ：<% item.tags.each do |tag| %>
            <%= link_to items_path(tag_ids: [tag.id]), class: "badge badge-light border text-decoration-none" do %>
              #<%= tag.tag_name %>
            <% end %>
          <% end %>
  </p><br>

  <!-- ボタン類 -->
  <% if customer_signed_in? %>
  <% if current_customer.reserved_item?(item) %>
    <%= link_to "DMする",dm_room_path(reservation.dm_room.id), class: "btn btn-outline-primary" %><br>
  <% else %>
    <%= form_with model: reservation, url: item_reservations_path(item), method: :post, local: true do |f| %>
      <div class="d-flex align-items-center mb-3">
        <%= f.label :reserved_date, "予約可能日を選択してください", class: "form-label" %>
        <%= f.select :reserved_date, 
               item.available_slots.select { |slot| slot.available_date >= Date.current } 
               .map { |date| [date.available_date.strftime('%Y/%m/%d'), date.available_date] },
              { prompt: "選択してください" },
              class: "form-select" %>
        <%= f.submit "予約する", class: "btn btn-outline-dark ml-3 ml-5" %>
      </div>
    <% end %>
  <% end %>
<% end %>

</div>









