<div class="container-fluid px-5 mx-5 my-4">
  <div class="row">
    <!-- サイドバー：左 -->
    <div class="col-3">
      <% if customer_signed_in? %>
        <%= render 'share/info', customer: @customer %>
        <%= link_to reservations_path, class: "btn btn-outline-dark w-100 my-2" do %>
          予約一覧(<%= @reservations.count %>)
        <% end %>
      <% end %>
      <%= render 'public/tags/tag', tags: @tags %>
    </div>

    <!-- メインコンテンツ：右 -->
    <div class="col-9">
      <div class="row">
        <!-- 左：画像 -->
        <div class="col-5">
          <%= image_tag @item.get_image, class: "img-fluid" %>
        </div>

        <!-- 右：商品情報 -->
        <div class="col-7">
          <h2><%= @item.name %></h2>
          <p class="my-4"><%= @item.introduction %></p>
          <p class="my-4 h4">￥<%= number_to_currency(@item.price) %>（税込）</p>
          
          <% if current_customer.reserved_item?(@item) %>
            <%= link_to "DMする",dm_room_path(@reservation.dm_room.id), class: "btn btn-outline-primary" %><br>
          <% else %>
            <%= form_with model: @reservation, url: item_reservations_path(@item), method: :post, local: true do |f| %>
              <div class="mb-3">
                <%= f.label :reserved_date, "予約日を選択してください" %>
                <%= f.date_field :reserved_date, class: "form-control" %>
              </div>
              <%= f.submit "予約する", class: "btn btn-outline-dark" %>
            <% end %>
          <% end %>
          生産者：<%= link_to farmer_path(@item.farmer) do %>
            <%= @item.farmer.last_name %>
          <% end %>さん
          

          <% unless current_customer.following?(@item.farmer) %>
            <%= link_to "フォローする", farmer_follow_path(@item.farmer.id), method: :post, class: "btn btn-outline-dark ml-3" %>
          <% else %>
            <%= link_to "フォロー解除", farmer_follow_path(@item.farmer.id,), method: :delete, class: "btn btn-outline-dark ml-3" %>
          <% end %>
        </div>
      </div>

      <%= render 'public/comments/index', comments: @comments, item: @item, comment: @comment %>
    </div>
  </div>
</div>

