<header class="custom-header ">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: ">
    <div class="container-fluid">
      <div class="ml-5 pl-5">
        <% if customer_signed_in? %>
          <%= link_to root_path, class: "navbar-brand ml-5 pl-5" do %>
            <%= image_tag 'ロゴ.png', alt: 'SAVE_VEGE Logo', height: 150 %>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_top_path, class: "navbar-brand ml-5 pl-5" do %>
            <%= image_tag 'ロゴ.png', alt: 'SAVE_VEGE Logo', height: 150 %>
          <% end %>
        <% elsif farmer_signed_in? %>
          <%= link_to farmer_farmers_mypage_path, class: "navbar-brand ml-5 pl-5" do %>
            <%= image_tag 'ロゴ.png', alt: 'SAVE_VEGE Logo', height: 150 %>
          <% end %>
        <% else %>
          <%= link_to root_path, class: "navbar-brand ml-5 pl-5" do %>
            <%= image_tag 'ロゴ.png', alt: 'SAVE_VEGE Logo', height: 150 %>
          <% end %>
        <% end %>
      </div>
      <div class="mr-5 pr-5">
        <% if admin_signed_in? %> 
            <ul class="list-unstyled">
              <div class="d-flex ">
                <li class="mr-5 ">
                  <%= link_to "カテゴリ一覧", admin_categories_path, class: " nav-link w-100 px-3 py-2" %>
                </li>
                <li class="mr-5 ">
                  <%= link_to "ユーザー一覧", admin_customers_path, class: " nav-link w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "タグ一覧", admin_tags_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: " nav-link w-100 px-3 py-2" %>
                </li>
            </ul>
        <% elsif customer_signed_in?  %>
          <ul class="list-unstyled">
              <div class="d-flex ">
                <li class="mr-5">
                  <%= link_to "About", about_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5 ">
                  <%= link_to "商品一覧", root_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "マイページ", customers_my_page_path, class: "nav-link w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link w-100 px-3 py-2" %>
                </li>
            </ul>
          
        <% elsif farmer_signed_in?  %>
          
          <ul class="list-unstyled">
              <div class="d-flex ">
                <li class="mr-5">
                  <%= link_to "About", about_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5 ">
                  <%= link_to "商品一覧", farmer_farmers_mypage_path, class: "nav-link w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link w-100 px-3 py-2" %>
                </li>
            </ul>
          
        <% else %>
          <ul class="list-unstyled mr-5 pr-5">
              <div class="d-flex ">
                <li class="mr-5">
                  <%= link_to "About", about_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5 ">
                  <%= link_to "商品一覧", root_path, class: "nav-link w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link  w-100 px-3 py-2" %>
                </li>
                <li class="mr-5">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link w-100 px-3 py-2" %>
                </li>
            </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
