<%= form_with url: items_path, method: :get, local: true do |f| %>
  <div class="mt-3">
    <div class="d-flex flex-wrap gap-3 align-items-start">
      <p class="mb-2 text-muted">カテゴリから探す</p>

      <!-- 地域・キーワードを右寄せするための div -->
      <div class="d-flex ml-auto gap-2">
        <div class="form-group mb-0">
          <%= select_tag :prefecture,
              options_for_select(@areas, params[:prefecture]),
              prompt: "地域を選択", class: "form-control" %>
        </div>

        <div class="form-group mb-0">
          <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "キーワードを入力" %>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap w-100">
      <% Category.all.each do |category| %>
        <div class="d-flex align-items-center category-link px-3 py-2 text-dark text-decoration-none text-center"
             style="flex: 0 0 calc(20% - 8px); box-sizing: border-box; margin: 0 4px; ">
          <%= check_box_tag 'category_ids[]', category.id, params[:category_ids]&.include?(category.id.to_s), id: "category_#{category.id}" %>
          <%= label_tag "category_#{category.id}",  "　#{category.name}", class: "mb-0" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-2 mr-2">
    <%= submit_tag "検索", class: "btn btn-primary" %>
  </div>
<% end %>